<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        {{{ section 'css' }}}
    </head>
    <body>
        
        <div id="page">
            {{{ section 'layout' }}}  
        </div>
        
        {{{ section 'js' }}}

    </body>
</html>
